* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.waves {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.modal {
  position: absolute;
  height: 40%;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
}
